.kwacenter {
    display: block; 
    margin: auto; 
    border-style: solid;
    border-color: red;
    text-align: center;
}

#kwatry {
    display: block; 
    margin: auto; 
    border-style: solid;
    border-color: red;
}
